BASE_URL=https://parabank.parasoft.com/parabank/
API_BASE_URL=https://parabank.parasoft.com/parabank/services/bank
DEFAULT_TIMEOUT=15000
EXPECT_TIMEOUT=15000
TRANSFER_AMOUNT=25
OPENING_DEPOSIT=100
PARALLEL_WORKERS=2
HEADLESS=true
